In [1]:
# # import os
# # os.chdir('..')
# from src.modules import connect_lhl, test_models

In [2]:
# conn = connect_lhl.lhl_delay_data('lhl-data-bootcamp.crzjul5qln0e.ca-central-1.rds.amazonaws.com','mid_term_project','lhl_student','lhl_student', 0)
# conn.connection()
# df = conn.sample_table('flights_test', samples='660556')

In [3]:
# df.head()

In [4]:
# import pickle

# df_flights_test = df

# with open(r'data\flights_test.pickle', 'wb') as flight_data_file:
#       pickle.dump(df_flights_test, flight_data_file)

In [345]:
import pickle

with open(r'..\data\flights_test.pickle','rb') as flight_data_file:
     df_flights_test = pickle.load(flight_data_file)

In [346]:
df_flights_test.shape

(660556, 20)

In [347]:
df_flights_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660556 entries, 0 to 660555
Data columns (total 20 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   fl_date             660556 non-null  datetime64[ns]
 1   mkt_unique_carrier  660556 non-null  object
 2   branded_code_share  660556 non-null  object
 3   mkt_carrier         660556 non-null  object
 4   mkt_carrier_fl_num  660556 non-null  int64
 5   op_unique_carrier   660556 non-null  object
 6   tail_num            659057 non-null  object
 7   op_carrier_fl_num   660556 non-null  int64
 8   origin_airport_id   660556 non-null  int64
 9   origin              660556 non-null  object
 10  origin_city_name    660556 non-null  object
 11  dest_airport_id     660556 non-null  int64
 12  dest                660556 non-null  object
 13  dest_city_name      660556 non-null  object
 14  crs_dep_time        660556 non-null  int64
 15  crs_arr_time        660556 non-null  int64
 16  dup                 660556 non-null  object
 17  crs_elapsed_time    660556 non-null  int64
 18  flights             660556 non-null  int64
 19  distance            660556 non-null  int64
dtypes: datetime64[ns](1), int64(9), object(10)
memory usage: 100.8+ MB

In [348]:
df_flights_test.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,crs_arr_time,dup,crs_elapsed_time,flights,distance
0,2020-01-24,AA,AA_CODESHARE,AA,3648,MQ,N274NN,3648,11884,GEG,"Spokane, WA",11298,DFW,"Dallas/Fort Worth, TX",1202,1734,N,212,1,1477
1,2020-01-02,AA,AA_CODESHARE,AA,4186,MQ,N841AE,4186,11778,FSM,"Fort Smith, AR",11298,DFW,"Dallas/Fort Worth, TX",1425,1540,N,75,1,227
2,2020-01-31,DL,DL_CODESHARE,DL,4902,9E,N906XJ,4902,10785,BTV,"Burlington, VT",11433,DTW,"Detroit, MI",525,745,N,140,1,537
3,2020-01-09,AA,AA,AA,1800,AA,N972UY,1800,11057,CLT,"Charlotte, NC",10821,BWI,"Baltimore, MD",2033,2159,N,86,1,361
4,2020-01-26,DL,DL,DL,1660,DL,N923AT,1660,13487,MSP,"Minneapolis, MN",10529,BDL,"Hartford, CT",2030,6,N,156,1,1050

### Check for Nulls

In [349]:
df_flights_test.isnull().sum()

fl_date                  0
mkt_unique_carrier       0
branded_code_share       0
mkt_carrier              0
mkt_carrier_fl_num       0
op_unique_carrier        0
tail_num              1499
op_carrier_fl_num        0
origin_airport_id        0
origin                   0
origin_city_name         0
dest_airport_id          0
dest                     0
dest_city_name           0
crs_dep_time             0
crs_arr_time             0
dup                      0
crs_elapsed_time         0
flights                  0
distance                 0
dtype: int64

In [350]:
# disregard nulls for tail number because we will be dropping that feature when we run the model

# Apply Feature Transformation

In [351]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', None)

### Departure TOD, Mean Arrival Delay by Flight/Route/TOD

In [352]:
df_flights_test['crs_dep_time'] = pd.to_datetime(df_flights_test['crs_dep_time'], format = '%H%M', errors = 'coerce')

In [353]:
df_flights_test[df_flights_test['crs_dep_time'].isnull()]['crs_dep_time']

4214     NaT
6252     NaT
9381     NaT
11500    NaT
11912    NaT
21595    NaT
30344    NaT
37805    NaT
52125    NaT
62503    NaT
68690    NaT
87108    NaT
88588    NaT
111165   NaT
122924   NaT
147401   NaT
152987   NaT
168161   NaT
172199   NaT
176241   NaT
180481   NaT
195955   NaT
196997   NaT
201492   NaT
215123   NaT
232918   NaT
233134   NaT
245895   NaT
249605   NaT
265089   NaT
268683   NaT
275861   NaT
281991   NaT
287764   NaT
292635   NaT
293415   NaT
297796   NaT
297923   NaT
298304   NaT
306214   NaT
308012   NaT
309472   NaT
312452   NaT
319826   NaT
320588   NaT
328506   NaT
336683   NaT
337571   NaT
338116   NaT
342745   NaT
345977   NaT
351152   NaT
352624   NaT
372711   NaT
376676   NaT
387813   NaT
392306   NaT
394664   NaT
397256   NaT
405868   NaT
406535   NaT
408387   NaT
416375   NaT
420360   NaT
423718   NaT
443819   NaT
456784   NaT
459358   NaT
461856   NaT
474766   NaT
490648   NaT
502202   NaT
502346   NaT
512675   NaT
512801   NaT
513162   NaT
522748   NaT
524305   NaT
531192   NaT
531507   NaT
538530   NaT
539416   NaT
551818   NaT
556657   NaT
570166   NaT
570471   NaT
582130   NaT
588409   NaT
593219   NaT
593253   NaT
603328   NaT
605480   NaT
609830   NaT
611168   NaT
612267   NaT
613943   NaT
614037   NaT
619299   NaT
633939   NaT
634020   NaT
648573   NaT
653028   NaT
655443   NaT
658296   NaT
Name: crs_dep_time, dtype: datetime64[ns]

In [354]:
# find most common time of day and replace with that

df_flights_test = df_flights_test.replace({"crs_dep_time" : {np.datetime64('NaT'): pd.to_datetime('2018-01-01 15:00:00')}})

In [355]:
df_flights_test['crs_dep_time_hour'] = df_flights_test['crs_dep_time'].dt.hour

In [356]:
cut_labels_5 = ['early morning', 'late morning', 'midday', 'late afternoon', 'evening']
cut_bins = [0, 5, 10, 15, 20, 24]
df_flights_test['crs_dep_time_of_day'] = pd.cut(df_flights_test['crs_dep_time_hour'], bins=cut_bins, labels=cut_labels_5)

In [357]:
df_flights_test.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,dest,dest_city_name,crs_dep_time,crs_arr_time,dup,crs_elapsed_time,flights,distance,crs_dep_time_hour,crs_dep_time_of_day
0,2020-01-24,AA,AA_CODESHARE,AA,3648,MQ,N274NN,3648,11884,GEG,...,DFW,"Dallas/Fort Worth, TX",1900-01-01 12:02:00,1734,N,212,1,1477,12,midday
1,2020-01-02,AA,AA_CODESHARE,AA,4186,MQ,N841AE,4186,11778,FSM,...,DFW,"Dallas/Fort Worth, TX",1900-01-01 14:25:00,1540,N,75,1,227,14,midday
2,2020-01-31,DL,DL_CODESHARE,DL,4902,9E,N906XJ,4902,10785,BTV,...,DTW,"Detroit, MI",1900-01-01 05:25:00,745,N,140,1,537,5,early morning
3,2020-01-09,AA,AA,AA,1800,AA,N972UY,1800,11057,CLT,...,BWI,"Baltimore, MD",1900-01-01 20:33:00,2159,N,86,1,361,20,late afternoon
4,2020-01-26,DL,DL,DL,1660,DL,N923AT,1660,13487,MSP,...,BDL,"Hartford, CT",1900-01-01 20:30:00,6,N,156,1,1050,20,late afternoon

In [358]:
df_flights_test["crs_dep_time_of_day"].value_counts()

late morning      214061
midday            201241
late afternoon    188306
evening            40253
early morning      16695
Name: crs_dep_time_of_day, dtype: int64

In [359]:
df_flights_test['crs_dep_time_of_day'].isnull().sum()

0

In [360]:
# key1 = df_flights_test['op_unique_carrier'] + df_flights_test['op_carrier_fl_num'].astype(str) + df_flights_test['crs_dep_time_of_day'].astype(str) + df_flights_test['origin_city_name'] + df_flights_test['dest_city_name']
# key2 = df_flights_test['crs_dep_time_of_day'].astype(str)+ df_flights_test['origin_city_name']+ df_flights_test['dest_city_name']
# key3 = df_flights_test['crs_dep_time_of_day'].astype(str)

# df_flights_test['key1'] = key1
# df_flights_test['key2'] = key2
# df_flights_test['key3'] = key3

# for ind in df_flights_test.index:

#     if df_flights_test['key1'][ind] in dict1[0]:
            
#         df_flights_test['mean_flight_num_delay'] = df_flights_test['key1'].map(dict1[0])

#     elif df_flights_test['key2'][ind] in dict2[0]:

#         df_flights_test['mean_flight_num_delay'] = df_flights_test['key2'].map(dict2[0])

#     else:

#         df_flights_test['mean_flight_num_delay'] = df_flights_test['key3'].map(dict3[0])

In [361]:

# df_flights_test = df_flights_test.replace({'mean_flight_num_delay' : {np.nan: df_flights_test['key3'].map(dict3[0])}})

In [362]:
# g = sns.scatterplot(data=df_flights_test, x='mean_flight_num_delay', y='arr_delay')
# g.set_title('Arrival Delay by Mean Flight Number Delay - TEST SET')

In [363]:
# df_flights_test['mean_flight_num_delay'].corr(df_flights_test['arr_delay'])

### Mean Monthly Arrival Delay

In [364]:
# df_flights_test['fl_date'] = pd.to_datetime(df_flights_test['fl_date'], unit='ms')
df_flights_test['fl_date'] = pd.to_datetime(df_flights_test['fl_date'])
df_flights_test['year'] = df_flights_test['fl_date'].dt.year
df_flights_test['month'] = df_flights_test['fl_date'].dt.month
df_flights_test['day'] = df_flights_test['fl_date'].dt.day

In [365]:
# mean delay by month
month_dict = [{6: 10.172921836228287,
  8: 9.90105169604503,
  7: 8.825379609544468,
  5: 7.07146695325094,
  2: 6.057037037037037,
  12: 5.955057989690721,
  4: 5.1755157253973625,
  3: 3.0884877182598403,
  11: 2.614330218068536,
  10: 2.0337734111145225,
  1: 1.9048838797814207,
  9: 0.13061018658598084}]

In [366]:
df_flights_test['mean_month_arr_delay'] = df_flights_test['month'].map(month_dict[0])

In [367]:
df_flights_test.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,dup,crs_elapsed_time,flights,distance,crs_dep_time_hour,crs_dep_time_of_day,year,month,day,mean_month_arr_delay
0,2020-01-24,AA,AA_CODESHARE,AA,3648,MQ,N274NN,3648,11884,GEG,...,N,212,1,1477,12,midday,2020,1,24,1.904884
1,2020-01-02,AA,AA_CODESHARE,AA,4186,MQ,N841AE,4186,11778,FSM,...,N,75,1,227,14,midday,2020,1,2,1.904884
2,2020-01-31,DL,DL_CODESHARE,DL,4902,9E,N906XJ,4902,10785,BTV,...,N,140,1,537,5,early morning,2020,1,31,1.904884
3,2020-01-09,AA,AA,AA,1800,AA,N972UY,1800,11057,CLT,...,N,86,1,361,20,late afternoon,2020,1,9,1.904884
4,2020-01-26,DL,DL,DL,1660,DL,N923AT,1660,13487,MSP,...,N,156,1,1050,20,late afternoon,2020,1,26,1.904884

### Season

In [368]:
season_dict = {
    1:'Winter',
    2:'Winter',
    3:'Spring',
    4:'Spring',
    5:'Spring',
    6:'Summer',
    7:'Summer',
    8:'Summer',
    9:'Fall',
    10:'Fall',
    11:'Fall',
    12:'Winter'}

In [369]:
df_flights_test["season"] = df_flights_test["month"].map(season_dict)

In [370]:
df_flights_test.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,crs_elapsed_time,flights,distance,crs_dep_time_hour,crs_dep_time_of_day,year,month,day,mean_month_arr_delay,season
0,2020-01-24,AA,AA_CODESHARE,AA,3648,MQ,N274NN,3648,11884,GEG,...,212,1,1477,12,midday,2020,1,24,1.904884,Winter
1,2020-01-02,AA,AA_CODESHARE,AA,4186,MQ,N841AE,4186,11778,FSM,...,75,1,227,14,midday,2020,1,2,1.904884,Winter
2,2020-01-31,DL,DL_CODESHARE,DL,4902,9E,N906XJ,4902,10785,BTV,...,140,1,537,5,early morning,2020,1,31,1.904884,Winter
3,2020-01-09,AA,AA,AA,1800,AA,N972UY,1800,11057,CLT,...,86,1,361,20,late afternoon,2020,1,9,1.904884,Winter
4,2020-01-26,DL,DL,DL,1660,DL,N923AT,1660,13487,MSP,...,156,1,1050,20,late afternoon,2020,1,26,1.904884,Winter

### Day of Week

In [371]:
df_flights_test['day_of_week'] = df_flights_test['fl_date'].dt.day_name()

In [372]:
df_flights_test.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,flights,distance,crs_dep_time_hour,crs_dep_time_of_day,year,month,day,mean_month_arr_delay,season,day_of_week
0,2020-01-24,AA,AA_CODESHARE,AA,3648,MQ,N274NN,3648,11884,GEG,...,1,1477,12,midday,2020,1,24,1.904884,Winter,Friday
1,2020-01-02,AA,AA_CODESHARE,AA,4186,MQ,N841AE,4186,11778,FSM,...,1,227,14,midday,2020,1,2,1.904884,Winter,Thursday
2,2020-01-31,DL,DL_CODESHARE,DL,4902,9E,N906XJ,4902,10785,BTV,...,1,537,5,early morning,2020,1,31,1.904884,Winter,Friday
3,2020-01-09,AA,AA,AA,1800,AA,N972UY,1800,11057,CLT,...,1,361,20,late afternoon,2020,1,9,1.904884,Winter,Thursday
4,2020-01-26,DL,DL,DL,1660,DL,N923AT,1660,13487,MSP,...,1,1050,20,late afternoon,2020,1,26,1.904884,Winter,Sunday

### Weekday/Weekend and Arr_Delay

In [373]:
df_flights_test["is_weekend"] = df_flights_test['fl_date'].dt.dayofweek > 4

In [374]:
df_flights_test.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,distance,crs_dep_time_hour,crs_dep_time_of_day,year,month,day,mean_month_arr_delay,season,day_of_week,is_weekend
0,2020-01-24,AA,AA_CODESHARE,AA,3648,MQ,N274NN,3648,11884,GEG,...,1477,12,midday,2020,1,24,1.904884,Winter,Friday,False
1,2020-01-02,AA,AA_CODESHARE,AA,4186,MQ,N841AE,4186,11778,FSM,...,227,14,midday,2020,1,2,1.904884,Winter,Thursday,False
2,2020-01-31,DL,DL_CODESHARE,DL,4902,9E,N906XJ,4902,10785,BTV,...,537,5,early morning,2020,1,31,1.904884,Winter,Friday,False
3,2020-01-09,AA,AA,AA,1800,AA,N972UY,1800,11057,CLT,...,361,20,late afternoon,2020,1,9,1.904884,Winter,Thursday,False
4,2020-01-26,DL,DL,DL,1660,DL,N923AT,1660,13487,MSP,...,1050,20,late afternoon,2020,1,26,1.904884,Winter,Sunday,True

### Holidays and Arr_Delay

In [375]:
from pandas.tseries.holiday import USFederalHolidayCalendar as calendar

dr = pd.date_range(start='2020-01-01', end='2020-01-31')

cal = calendar()
holidays = cal.holidays(start=dr.min(), end=dr.max())

df_flights_test['is_holiday'] = df_flights_test['fl_date'].isin(holidays)
df_flights_test.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,crs_dep_time_hour,crs_dep_time_of_day,year,month,day,mean_month_arr_delay,season,day_of_week,is_weekend,is_holiday
0,2020-01-24,AA,AA_CODESHARE,AA,3648,MQ,N274NN,3648,11884,GEG,...,12,midday,2020,1,24,1.904884,Winter,Friday,False,False
1,2020-01-02,AA,AA_CODESHARE,AA,4186,MQ,N841AE,4186,11778,FSM,...,14,midday,2020,1,2,1.904884,Winter,Thursday,False,False
2,2020-01-31,DL,DL_CODESHARE,DL,4902,9E,N906XJ,4902,10785,BTV,...,5,early morning,2020,1,31,1.904884,Winter,Friday,False,False
3,2020-01-09,AA,AA,AA,1800,AA,N972UY,1800,11057,CLT,...,20,late afternoon,2020,1,9,1.904884,Winter,Thursday,False,False
4,2020-01-26,DL,DL,DL,1660,DL,N923AT,1660,13487,MSP,...,20,late afternoon,2020,1,26,1.904884,Winter,Sunday,True,False

In [376]:
df_flights_test['is_holiday'].value_counts()

False    618854
True      41702
Name: is_holiday, dtype: int64

### Region and Arr_Delay

In [377]:
new_origin = df_flights_test['origin_city_name'].str.split(",", n = 1, expand = True)
new_origin.head()

             0    1
0      Spokane   WA
1   Fort Smith   AR
2   Burlington   VT
3    Charlotte   NC
4  Minneapolis   MN

In [378]:
new_dest = df_flights_test['dest_city_name'].str.split(",", n = 1, expand = True)
new_dest.head()

                   0    1
0  Dallas/Fort Worth   TX
1  Dallas/Fort Worth   TX
2            Detroit   MI
3          Baltimore   MD
4           Hartford   CT

In [379]:
df_flights_test['origin_state'] = new_origin[1].str.strip()
df_flights_test['dest_state'] = new_dest[1].str.strip()
df_flights_test.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,year,month,day,mean_month_arr_delay,season,day_of_week,is_weekend,is_holiday,origin_state,dest_state
0,2020-01-24,AA,AA_CODESHARE,AA,3648,MQ,N274NN,3648,11884,GEG,...,2020,1,24,1.904884,Winter,Friday,False,False,WA,TX
1,2020-01-02,AA,AA_CODESHARE,AA,4186,MQ,N841AE,4186,11778,FSM,...,2020,1,2,1.904884,Winter,Thursday,False,False,AR,TX
2,2020-01-31,DL,DL_CODESHARE,DL,4902,9E,N906XJ,4902,10785,BTV,...,2020,1,31,1.904884,Winter,Friday,False,False,VT,MI
3,2020-01-09,AA,AA,AA,1800,AA,N972UY,1800,11057,CLT,...,2020,1,9,1.904884,Winter,Thursday,False,False,NC,MD
4,2020-01-26,DL,DL,DL,1660,DL,N923AT,1660,13487,MSP,...,2020,1,26,1.904884,Winter,Sunday,True,False,MN,CT

In [380]:
# Add a region feature that groups states into four regions
# Region Dictionary for States *includes DC and Puerto Rico

state_region = {
    'WA': 'West',
    'OR': 'West',
    'CA': 'West',
    'AK': 'West',
    'HI': 'West',
    'ID': 'West',
    'MT': 'West',
    'WY': 'West',
    'NV': 'West',
    'UT': 'West',
    'CO': 'West',
    'AZ': 'West',
    'NM': 'West',
    'ND': 'Midwest',
    'SD': 'Midwest',
    'MN': 'Midwest',
    'NE': 'Midwest',
    'KS': 'Midwest',
    'IA': 'Midwest',
    'MO': 'Midwest',
    'WI': 'Midwest',
    'IL': 'Midwest',
    'MI': 'Midwest',
    'IN': 'Midwest',
    'OH': 'Midwest',
    'VT': 'Northeast',
    'ME': 'Northeast',
    'NH': 'Northeast',
    'MA': 'Northeast',
    'NY': 'Northeast',
    'PA': 'Northeast',
    'RI': 'Northeast',
    'CT': 'Northeast',
    'NJ': 'Northeast',
    'DE': 'South',
    'MD': 'South',
    'WV': 'South',
    'DC': 'South',
    'VA': 'South',
    'KY': 'South',
    'NC': 'South',
    'OK': 'South',
    'TX': 'South',
    'AR': 'South',
    'LA': 'South',
    'MS': 'South',
    'AL': 'South',
    'TN': 'South',
    'SC': 'South',
    'GA': 'South',
    'FL': 'South',
    'PR': 'Other',
    'VI': 'Other',
    'TT': 'Other'
}
len(state_region)

54

In [381]:
df_flights_test["origin_region"] = df_flights_test["origin_state"].map(state_region)

In [382]:
df_flights_test["dest_region"] = df_flights_test["dest_state"].map(state_region)

In [383]:
df_flights_test.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,day,mean_month_arr_delay,season,day_of_week,is_weekend,is_holiday,origin_state,dest_state,origin_region,dest_region
0,2020-01-24,AA,AA_CODESHARE,AA,3648,MQ,N274NN,3648,11884,GEG,...,24,1.904884,Winter,Friday,False,False,WA,TX,West,South
1,2020-01-02,AA,AA_CODESHARE,AA,4186,MQ,N841AE,4186,11778,FSM,...,2,1.904884,Winter,Thursday,False,False,AR,TX,South,South
2,2020-01-31,DL,DL_CODESHARE,DL,4902,9E,N906XJ,4902,10785,BTV,...,31,1.904884,Winter,Friday,False,False,VT,MI,Northeast,Midwest
3,2020-01-09,AA,AA,AA,1800,AA,N972UY,1800,11057,CLT,...,9,1.904884,Winter,Thursday,False,False,NC,MD,South,South
4,2020-01-26,DL,DL,DL,1660,DL,N923AT,1660,13487,MSP,...,26,1.904884,Winter,Sunday,True,False,MN,CT,Midwest,Northeast

# Apply Data Transformation

### Check for Missing Values

In [384]:
sum(df_flights_test.isnull().sum())

1499

### Fix DataTypes

In [385]:
df_flights_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660556 entries, 0 to 660555
Data columns (total 34 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   fl_date               660556 non-null  datetime64[ns]
 1   mkt_unique_carrier    660556 non-null  object
 2   branded_code_share    660556 non-null  object
 3   mkt_carrier           660556 non-null  object
 4   mkt_carrier_fl_num    660556 non-null  int64
 5   op_unique_carrier     660556 non-null  object
 6   tail_num              659057 non-null  object
 7   op_carrier_fl_num     660556 non-null  int64
 8   origin_airport_id     660556 non-null  int64
 9   origin                660556 non-null  object
 10  origin_city_name      660556 non-null  object
 11  dest_airport_id       660556 non-null  int64
 12  dest                  660556 non-null  object
 13  dest_city_name        660556 non-null  object
 14  crs_dep_time          660556 non-null  datetime64[ns]
 15  crs_arr_time          660556 non-null  int64
 16  dup                   660556 non-null  object
 17  crs_elapsed_time      660556 non-null  int64
 18  flights               660556 non-null  int64
 19  distance              660556 non-null  int64
 20  crs_dep_time_hour     660556 non-null  int64
 21  crs_dep_time_of_day   660556 non-null  category
 22  year                  660556 non-null  int64
 23  month                 660556 non-null  int64
 24  day                   660556 non-null  int64
 25  mean_month_arr_delay  660556 non-null  float64
 26  season                660556 non-null  object
 27  day_of_week           660556 non-null  object
 28  is_weekend            660556 non-null  bool
 29  is_holiday            660556 non-null  bool
 30  origin_state          660556 non-null  object
 31  dest_state            660556 non-null  object
 32  origin_region         660556 non-null  object
 33  dest_region           660556 non-null  object
dtypes: bool(2), category(1), datetime64[ns](2), float64(1), int64(12), object(16)
memory usage: 158.1+ MB

In [386]:
df_flights_test.shape

(660556, 34)

In [387]:
df_flights_test = df_flights_test[['crs_dep_time_of_day',
       'season', 'day_of_week', 'is_weekend',
       'is_holiday', 'origin_region',
       'dest_region']]

### Transform Categorical Variables into Numeric Data

In [388]:
df_flights_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660556 entries, 0 to 660555
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   crs_dep_time_of_day  660556 non-null  category
 1   season               660556 non-null  object
 2   day_of_week          660556 non-null  object
 3   is_weekend           660556 non-null  bool
 4   is_holiday           660556 non-null  bool
 5   origin_region        660556 non-null  object
 6   dest_region          660556 non-null  object
dtypes: bool(2), category(1), object(4)
memory usage: 22.0+ MB

In [389]:
nom_feats_test = df_flights_test.dtypes[(df_flights_test.dtypes == 'object') | (df_flights_test.dtypes == 'category') ].index.tolist()
bool_feats_test = df_flights_test.dtypes[df_flights_test.dtypes == 'bool'].index.tolist()

cat_feats_test = nom_feats_test + bool_feats_test

df_numeric_test = df_flights_test.drop(columns=cat_feats_test)

df_dummy_test = pd.get_dummies(df_flights_test[nom_feats_test])
df_dummy_test.head() #drop_first=True?

,crs_dep_time_of_day_early morning,crs_dep_time_of_day_late morning,crs_dep_time_of_day_midday,crs_dep_time_of_day_late afternoon,crs_dep_time_of_day_evening,season_Winter,day_of_week_Friday,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,...,origin_region_Midwest,origin_region_Northeast,origin_region_Other,origin_region_South,origin_region_West,dest_region_Midwest,dest_region_Northeast,dest_region_Other,dest_region_South,dest_region_West
0,0,0,1,0,0,1,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,0,0,1,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
2,1,0,0,0,0,1,1,0,0,0,...,0,1,0,0,0,1,0,0,0,0
3,0,0,0,1,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
4,0,0,0,1,0,1,0,0,0,1,...,1,0,0,0,0,0,1,0,0,0

In [390]:
df_dummy_test['season_Spring'] = 0
df_dummy_test['season_Fall'] = 0
df_dummy_test['season_Summer'] = 0

In [391]:
cat_feats_test

['crs_dep_time_of_day',
 'season',
 'day_of_week',
 'origin_region',
 'dest_region',
 'is_weekend',
 'is_holiday']

In [392]:
bool_feats_test

['is_weekend', 'is_holiday']

In [393]:
nom_feats_test

['crs_dep_time_of_day',
 'season',
 'day_of_week',
 'origin_region',
 'dest_region']

In [394]:
df_flights_test.replace({
    "is_weekend" : {True : 1, False : 0}, 
    "is_holiday" : {True : 1, False : 0},
    }, inplace=True)

In [395]:
df_flights_test.shape

(660556, 7)

In [396]:
df_flights_test.head()

,crs_dep_time_of_day,season,day_of_week,is_weekend,is_holiday,origin_region,dest_region
0,midday,Winter,Friday,0,0,West,South
1,midday,Winter,Thursday,0,0,South,South
2,early morning,Winter,Friday,0,0,Northeast,Midwest
3,late afternoon,Winter,Thursday,0,0,South,South
4,late afternoon,Winter,Sunday,1,0,Midwest,Northeast

In [397]:
df_numeric_test.head()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [398]:
# from sklearn import preprocessing
# from sklearn.preprocessing import StandardScaler
# scaler = StandardScaler()

# scaled_data_test = pd.DataFrame(scaler.fit_transform(df_numeric_test), columns=df_numeric_test.columns)
# scaled_data_test.head()

In [399]:
# transformed_df_test = scaled_data_test.merge(df_dummy_test, left_index=True, right_index=True)
# transformed_df_test = transformed_df_test.merge(df_flights_test[["is_weekend","is_holiday"]], left_index=True, right_index=True)
# transformed_df_test.head()

In [324]:
# sum(transformed_df_test.isnull().sum())

0

In [400]:
transformed_df_test = df_dummy_test.merge(df_flights_test[["is_weekend","is_holiday"]], left_index=True, right_index=True)
transformed_df_test.head()

,crs_dep_time_of_day_early morning,crs_dep_time_of_day_late morning,crs_dep_time_of_day_midday,crs_dep_time_of_day_late afternoon,crs_dep_time_of_day_evening,season_Winter,day_of_week_Friday,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,...,dest_region_Midwest,dest_region_Northeast,dest_region_Other,dest_region_South,dest_region_West,season_Spring,season_Fall,season_Summer,is_weekend,is_holiday
0,0,0,1,0,0,1,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,0,0,1,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,1,0,0,0,0,1,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,0,0,0,1,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,0,0,0,1,0,1,0,0,0,1,...,0,1,0,0,0,0,0,0,1,0

In [401]:
import pickle

test_predictions2 = transformed_df_test

with open(r'..\data\test_predictions2.pickle', 'wb') as flight_data_file:
      pickle.dump(test_predictions2, flight_data_file)

# Run Model

In [414]:
import pickle

with open(r'..\data\fe_flight_num_TRAINING_2_trans.pickle','rb') as flight_data_file:
     df_flights_TRAIN = pickle.load(flight_data_file)

In [415]:
df_flights_TRAIN.shape

(74255, 29)

In [432]:
df_flights_TRAIN.head()

,arr_delay,crs_dep_time_of_day_early morning,crs_dep_time_of_day_late morning,crs_dep_time_of_day_midday,crs_dep_time_of_day_late afternoon,crs_dep_time_of_day_evening,season_Fall,season_Spring,season_Summer,season_Winter,...,origin_region_Other,origin_region_South,origin_region_West,dest_region_Midwest,dest_region_Northeast,dest_region_Other,dest_region_South,dest_region_West,is_weekend,is_holiday
0,-14.0,0,1,0,0,0,0,0,0,1,...,0,1,0,0,1,0,0,0,0,0
1,-11.0,0,0,0,1,0,0,0,1,0,...,0,0,1,0,0,0,0,1,0,0
2,-5.0,0,0,1,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
3,-11.0,0,0,0,0,1,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
4,-6.0,0,0,0,1,0,1,0,0,0,...,0,0,1,0,0,0,0,1,0,0

In [416]:
import pickle

with open(r'..\data\fe_flight_num_TEST_2_trans.pickle','rb') as flight_data_file:
     df_flights_TEST = pickle.load(flight_data_file)

In [431]:
df_flights_TEST.shape

(24751, 29)

In [418]:
df_flights = pd.concat([df_flights_TRAIN, df_flights_TEST])

In [419]:
df_flights.head()

,arr_delay,crs_dep_time_of_day_early morning,crs_dep_time_of_day_late morning,crs_dep_time_of_day_midday,crs_dep_time_of_day_late afternoon,crs_dep_time_of_day_evening,season_Fall,season_Spring,season_Summer,season_Winter,...,origin_region_Other,origin_region_South,origin_region_West,dest_region_Midwest,dest_region_Northeast,dest_region_Other,dest_region_South,dest_region_West,is_weekend,is_holiday
0,-14.0,0,1,0,0,0,0,0,0,1,...,0,1,0,0,1,0,0,0,0,0
1,-11.0,0,0,0,1,0,0,0,1,0,...,0,0,1,0,0,0,0,1,0,0
2,-5.0,0,0,1,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
3,-11.0,0,0,0,0,1,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
4,-6.0,0,0,0,1,0,1,0,0,0,...,0,0,1,0,0,0,0,1,0,0

In [420]:
df_flights.shape

(99006, 29)

In [421]:
transformed_df_test.shape

(660556, 28)

In [422]:
not_in_both = set(df_flights.columns.to_list()) - set(transformed_df_test.columns.to_list())
not_in_both

{'arr_delay'}

In [423]:
X_train = df_flights.drop('arr_delay',axis=1)
y_train = df_flights['arr_delay']

In [424]:
print(X_train.shape)
print(y_train.shape)

(99006, 28)
(99006,)

In [425]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()

In [426]:
reg.fit(X_train, y_train)

LinearRegression()

In [427]:
y_pred = reg.predict(transformed_df_test)

C:\Users\User\AppData\Roaming\Python\Python39\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)

In [428]:
y_pred

array([ 5.83439604e+12,  4.14062500e+00,  4.96496633e+12, ...,
        6.83593750e-01,  5.58772573e+12, -3.23836130e+12])

In [429]:
X_train.head()

,crs_dep_time_of_day_early morning,crs_dep_time_of_day_late morning,crs_dep_time_of_day_midday,crs_dep_time_of_day_late afternoon,crs_dep_time_of_day_evening,season_Fall,season_Spring,season_Summer,season_Winter,day_of_week_Friday,...,origin_region_Other,origin_region_South,origin_region_West,dest_region_Midwest,dest_region_Northeast,dest_region_Other,dest_region_South,dest_region_West,is_weekend,is_holiday
0,0,1,0,0,0,0,0,0,1,1,...,0,1,0,0,1,0,0,0,0,0
1,0,0,0,1,0,0,0,1,0,0,...,0,0,1,0,0,0,0,1,0,0
2,0,0,1,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,0,0,0,0,1,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,0,0,0,1,0,1,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0

In [430]:
transformed_df_test.head()

,crs_dep_time_of_day_early morning,crs_dep_time_of_day_late morning,crs_dep_time_of_day_midday,crs_dep_time_of_day_late afternoon,crs_dep_time_of_day_evening,season_Winter,day_of_week_Friday,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,...,dest_region_Midwest,dest_region_Northeast,dest_region_Other,dest_region_South,dest_region_West,season_Spring,season_Fall,season_Summer,is_weekend,is_holiday
0,0,0,1,0,0,1,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,0,0,1,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,1,0,0,0,0,1,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,0,0,0,1,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,0,0,0,1,0,1,0,0,0,1,...,0,1,0,0,0,0,0,0,1,0

In [ ]:
submission = df[['fl_date', 'mkt_carrier',
       'mkt_carrier_fl_num', 'origin', 'dest']]

In [ ]:
submission.head()

     fl_date mkt_carrier  mkt_carrier_fl_num origin dest
0 2020-01-24          AA                3648    GEG  DFW
1 2020-01-02          AA                4186    FSM  DFW
2 2020-01-31          DL                4902    BTV  DTW
3 2020-01-09          AA                1800    CLT  BWI
4 2020-01-26          DL                1660    MSP  BDL

In [ ]:
# submission = submission.dropna()
submission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660556 entries, 0 to 660555
Data columns (total 5 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   fl_date             660556 non-null  datetime64[ns]
 1   mkt_carrier         660556 non-null  object
 2   mkt_carrier_fl_num  660556 non-null  int64
 3   origin              660556 non-null  object
 4   dest                660556 non-null  object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 25.2+ MB

In [ ]:
submission['predicted_delay'] = y_pred

C:\Users\User\AppData\Local\Temp\ipykernel_17136\2170879773.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  submission['predicted_delay'] = y_pred

In [ ]:
submission.head()

     fl_date mkt_carrier  mkt_carrier_fl_num origin dest  predicted_delay
0 2020-01-24          AA                3648    GEG  DFW    -8.298146e+10
1 2020-01-02          AA                4186    FSM  DFW    -8.298146e+10
2 2020-01-31          DL                4902    BTV  DTW     1.464844e-02
3 2020-01-09          AA                1800    CLT  BWI    -8.298146e+10
4 2020-01-26          DL                1660    MSP  BDL    -8.298146e+10

In [ ]:
# submission.to_csv(r'data\submission.csv', index_label=False)