In [1]:
import pickle
import pandas as pd
import numpy as np

In [2]:
with open(r'..\..\data\flights_test.pickle','rb') as flight_data_file:
     df_test = pickle.load(flight_data_file)

In [3]:
df_test.shape

(660556, 20)

In [4]:
# drop features with more than 80% missing values

# df_test = df_test.dropna(thresh=df_test.shape[0]*0.8,axis=1)

In [5]:
# drop rows with null values

# df_test.dropna(inplace=True)

In [6]:
# drop rows with null taxi values

# df_test = df_test.replace({"taxi_out" : {0: np.nan},"taxi_in" : {0: np.nan}})

In [7]:
# df_test = df_test.reset_index(drop=True)

In [8]:
# fix datatypes

df_test['fl_date'] = pd.to_datetime(df_test['fl_date'])

df_test['crs_dep_time'] = df_test['crs_dep_time'].astype(int)
df_test['crs_dep_time'] = pd.to_datetime(df_test['crs_dep_time'], format = '%H%M', errors = 'coerce')
df_test = df_test.replace({"crs_dep_time" : {np.datetime64('NaT'): pd.to_datetime('2018-01-01 15:00:00')}})

# df_test['dep_time'] = df_test['dep_time'].astype(int)
# df_test['dep_time'] = pd.to_datetime(df_test['dep_time'], format = '%H%M', errors = 'coerce')

df_test['crs_arr_time'] = df_test['crs_arr_time'].astype(int)
df_test['crs_arr_time'] = pd.to_datetime(df_test['crs_arr_time'], format = '%H%M', errors = 'coerce')
df_test = df_test.replace({"crs_arr_time" : {np.datetime64('NaT'): pd.to_datetime('2018-01-01 15:00:00')}})

# df_test['arr_time'] = df_test['arr_time'].astype(int)
# df_test['arr_time'] = pd.to_datetime(df_test['arr_time'], format = '%H%M', errors = 'coerce')

# df_test['wheels_off'] = df_test['wheels_off'].astype(int)
# df_test['wheels_off'] = pd.to_datetime(df_test['wheels_off'], format = '%H%M', errors = 'coerce')

# df_test['wheels_on'] = df_test['wheels_on'].astype(int)
# df_test['wheels_on'] = pd.to_datetime(df_test['wheels_on'], format = '%H%M', errors = 'coerce')

df_test['mkt_carrier_fl_num'] = df_test['mkt_carrier_fl_num'].astype(str)
df_test['op_carrier_fl_num'] = df_test['op_carrier_fl_num'].astype(str)
df_test['origin_airport_id'] = df_test['origin_airport_id'].astype(str)
df_test['dest_airport_id'] = df_test['dest_airport_id'].astype(str)

In [9]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660556 entries, 0 to 660555
Data columns (total 20 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   fl_date             660556 non-null  datetime64[ns]
 1   mkt_unique_carrier  660556 non-null  object
 2   branded_code_share  660556 non-null  object
 3   mkt_carrier         660556 non-null  object
 4   mkt_carrier_fl_num  660556 non-null  object
 5   op_unique_carrier   660556 non-null  object
 6   tail_num            659057 non-null  object
 7   op_carrier_fl_num   660556 non-null  object
 8   origin_airport_id   660556 non-null  object
 9   origin              660556 non-null  object
 10  origin_city_name    660556 non-null  object
 11  dest_airport_id     660556 non-null  object
 12  dest                660556 non-null  object
 13  dest_city_name      660556 non-null  object
 14  crs_dep_time        660556 non-null  datetime64[ns]
 15  crs_arr_time        660556 non-null  datetime64[ns]
 16  dup                 660556 non-null  object
 17  crs_elapsed_time    660556 non-null  int64
 18  flights             660556 non-null  int64
 19  distance            660556 non-null  int64
dtypes: datetime64[ns](3), int64(3), object(14)
memory usage: 100.8+ MB

In [10]:
# drop datetime values that didn't convert

# df_test.dropna(inplace=True)
# df_test = df_test.reset_index(drop=True)

In [11]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660556 entries, 0 to 660555
Data columns (total 20 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   fl_date             660556 non-null  datetime64[ns]
 1   mkt_unique_carrier  660556 non-null  object
 2   branded_code_share  660556 non-null  object
 3   mkt_carrier         660556 non-null  object
 4   mkt_carrier_fl_num  660556 non-null  object
 5   op_unique_carrier   660556 non-null  object
 6   tail_num            659057 non-null  object
 7   op_carrier_fl_num   660556 non-null  object
 8   origin_airport_id   660556 non-null  object
 9   origin              660556 non-null  object
 10  origin_city_name    660556 non-null  object
 11  dest_airport_id     660556 non-null  object
 12  dest                660556 non-null  object
 13  dest_city_name      660556 non-null  object
 14  crs_dep_time        660556 non-null  datetime64[ns]
 15  crs_arr_time        660556 non-null  datetime64[ns]
 16  dup                 660556 non-null  object
 17  crs_elapsed_time    660556 non-null  int64
 18  flights             660556 non-null  int64
 19  distance            660556 non-null  int64
dtypes: datetime64[ns](3), int64(3), object(14)
memory usage: 100.8+ MB

In [12]:
df_test.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,crs_arr_time,dup,crs_elapsed_time,flights,distance
0,2020-01-24,AA,AA_CODESHARE,AA,3648,MQ,N274NN,3648,11884,GEG,"Spokane, WA",11298,DFW,"Dallas/Fort Worth, TX",1900-01-01 12:02:00,1900-01-01 17:34:00,N,212,1,1477
1,2020-01-02,AA,AA_CODESHARE,AA,4186,MQ,N841AE,4186,11778,FSM,"Fort Smith, AR",11298,DFW,"Dallas/Fort Worth, TX",1900-01-01 14:25:00,1900-01-01 15:40:00,N,75,1,227
2,2020-01-31,DL,DL_CODESHARE,DL,4902,9E,N906XJ,4902,10785,BTV,"Burlington, VT",11433,DTW,"Detroit, MI",1900-01-01 05:25:00,1900-01-01 07:45:00,N,140,1,537
3,2020-01-09,AA,AA,AA,1800,AA,N972UY,1800,11057,CLT,"Charlotte, NC",10821,BWI,"Baltimore, MD",1900-01-01 20:33:00,1900-01-01 21:59:00,N,86,1,361
4,2020-01-26,DL,DL,DL,1660,DL,N923AT,1660,13487,MSP,"Minneapolis, MN",10529,BDL,"Hartford, CT",1900-01-01 20:30:00,2018-01-01 15:00:00,N,156,1,1050

In [13]:
df_test['year'] = df_test['fl_date'].dt.year
df_test['month'] = df_test['fl_date'].dt.month
df_test['day'] = df_test['fl_date'].dt.day
df_test['day_of_week'] = df_test['fl_date'].dt.day_name()
df_test["is_weekend"] = df_test['fl_date'].dt.dayofweek > 4

In [14]:
with open(r'..\..\data\v2\season_dict.pickle','rb') as flight_data_file:
     season_dict = pickle.load(flight_data_file)

In [15]:
df_test["season"] = df_test["month"].map(season_dict)

In [16]:
from pandas.tseries.holiday import USFederalHolidayCalendar as calendar

dr = pd.date_range(start='2018-01-01', end='2019-12-31')

cal = calendar()
holidays = cal.holidays(start=dr.min(), end=dr.max())

df_test['is_holiday'] = df_test['fl_date'].isin(holidays)

In [17]:
df_test['crs_dep_time_hour'] = df_test['crs_dep_time'].dt.hour
df_test['crs_arr_time_hour'] = df_test['crs_arr_time'].dt.hour

In [18]:
cut_labels_5 = ['early morning', 'late morning', 'midday', 'late afternoon', 'evening']
cut_bins = [0, 5, 10, 15, 20, 24]
df_test['crs_dep_time_of_day'] = pd.cut(df_test['crs_dep_time_hour'], bins=cut_bins, labels=cut_labels_5)

cut_labels_5 = ['early morning', 'late morning', 'midday', 'late afternoon', 'evening']
cut_bins = [0, 5, 10, 15, 20, 24]
df_test['crs_arr_time_of_day'] = pd.cut(df_test['crs_arr_time_hour'], bins=cut_bins, labels=cut_labels_5)

In [19]:
new_origin = df_test['origin_city_name'].str.split(",", n = 1, expand = True)
new_dest = df_test['dest_city_name'].str.split(",", n = 1, expand = True)
df_test['origin_state'] = new_origin[1].str.strip()
df_test['dest_state'] = new_dest[1].str.strip()

In [20]:
with open(r'..\..\data\v2\state_dict.pickle','rb') as flight_data_file:
     state_dict = pickle.load(flight_data_file)

In [21]:
df_test["origin_region"] = df_test["origin_state"].map(state_dict)
df_test["dest_region"] = df_test["dest_state"].map(state_dict)

In [22]:
# df_test['mean_mkt_carrier_delay'] = df_test.groupby(['mkt_unique_carrier'])['arr_delay'].transform('mean')
# df_test['mean_op_carrier_delay'] = df_test.groupby(['op_unique_carrier'])['arr_delay'].transform('mean')

# df_test['mean_origin_airport_delay'] = df_test.groupby(['origin_airport_id'])['arr_delay'].transform('mean')
# df_test['mean_dest_airport_delay'] = df_test.groupby(['dest_airport_id'])['arr_delay'].transform('mean')

# df_test['mean_flight_delay'] = df_test.groupby(['op_unique_carrier','op_carrier_fl_num','crs_dep_time_of_day','origin_city_name','dest_city_name'])['arr_delay'].transform('mean')

In [23]:
df_test.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,season,is_holiday,crs_dep_time_hour,crs_arr_time_hour,crs_dep_time_of_day,crs_arr_time_of_day,origin_state,dest_state,origin_region,dest_region
0,2020-01-24,AA,AA_CODESHARE,AA,3648,MQ,N274NN,3648,11884,GEG,...,Winter,False,12,17,midday,late afternoon,WA,TX,West,South
1,2020-01-02,AA,AA_CODESHARE,AA,4186,MQ,N841AE,4186,11778,FSM,...,Winter,False,14,15,midday,midday,AR,TX,South,South
2,2020-01-31,DL,DL_CODESHARE,DL,4902,9E,N906XJ,4902,10785,BTV,...,Winter,False,5,7,early morning,late morning,VT,MI,Northeast,Midwest
3,2020-01-09,AA,AA,AA,1800,AA,N972UY,1800,11057,CLT,...,Winter,False,20,21,late afternoon,evening,NC,MD,South,South
4,2020-01-26,DL,DL,DL,1660,DL,N923AT,1660,13487,MSP,...,Winter,False,20,15,late afternoon,midday,MN,CT,Midwest,Northeast

In [24]:
df_test = df_test[['day_of_week', 'is_weekend',
       'season', 'is_holiday', 'crs_dep_time_of_day', 'crs_arr_time_of_day', 'origin_region', 'dest_region']]

In [25]:
nom_feats_test = df_test.dtypes[(df_test.dtypes == 'object') | (df_test.dtypes == 'category') ].index.tolist()
bool_feats_test = df_test.dtypes[df_test.dtypes == 'bool'].index.tolist()

cat_feats_test = nom_feats_test + bool_feats_test

df_numeric_test = df_test.drop(columns=cat_feats_test)

df_dummy_test = pd.get_dummies(df_test[nom_feats_test])
df_dummy_test.head() #drop_first=True?

,day_of_week_Friday,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday,season_Winter,crs_dep_time_of_day_early morning,crs_dep_time_of_day_late morning,...,origin_region_Midwest,origin_region_Northeast,origin_region_Other,origin_region_South,origin_region_West,dest_region_Midwest,dest_region_Northeast,dest_region_Other,dest_region_South,dest_region_West
0,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,1,0
1,0,0,0,0,1,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
2,1,0,0,0,0,0,0,1,1,0,...,0,1,0,0,0,1,0,0,0,0
3,0,0,0,0,1,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
4,0,0,0,1,0,0,0,1,0,0,...,1,0,0,0,0,0,1,0,0,0

In [26]:
df_dummy_test['season_Spring'] = 0
df_dummy_test['season_Fall'] = 0
df_dummy_test['season_Summer'] = 0

In [27]:
df_test.replace({
    "is_weekend" : {True : 1, False : 0}, 
    "is_holiday" : {True : 1, False : 0},
    }, inplace=True)

In [28]:
transformed_df_test = df_dummy_test.merge(df_test[["is_weekend","is_holiday"]], left_index=True, right_index=True)

In [29]:
with open(r'..\..\data\v2\reg_gb_iteration1.pickle','rb') as flight_data_file:
     reg = pickle.load(flight_data_file)

In [30]:
y_pred = reg.predict(transformed_df_test)

C:\Users\User\AppData\Roaming\Python\Python39\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but GradientBoostingRegressor was fitted without feature names
  warnings.warn(

In [31]:
y_pred

array([ 6.37710756,  4.30924811,  2.89247328, ..., 20.61314892,
       -4.4135115 ,  4.09436926])

In [32]:
with open(r'..\..\data\flights_test.pickle','rb') as flight_data_file:
     df_test = pickle.load(flight_data_file)

In [33]:
submission = df_test[['fl_date', 'mkt_carrier',
       'mkt_carrier_fl_num', 'origin', 'dest']]

In [34]:
submission.head()

     fl_date mkt_carrier  mkt_carrier_fl_num origin dest
0 2020-01-24          AA                3648    GEG  DFW
1 2020-01-02          AA                4186    FSM  DFW
2 2020-01-31          DL                4902    BTV  DTW
3 2020-01-09          AA                1800    CLT  BWI
4 2020-01-26          DL                1660    MSP  BDL

In [35]:
import pandas as pd

In [36]:
# submission = submission.dropna()
submission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660556 entries, 0 to 660555
Data columns (total 5 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   fl_date             660556 non-null  datetime64[ns]
 1   mkt_carrier         660556 non-null  object
 2   mkt_carrier_fl_num  660556 non-null  int64
 3   origin              660556 non-null  object
 4   dest                660556 non-null  object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 25.2+ MB

In [37]:
submission['predicted_delay'] = y_pred

C:\Users\User\AppData\Local\Temp\ipykernel_24776\2170879773.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  submission['predicted_delay'] = y_pred

In [38]:
submission.head()

     fl_date mkt_carrier  mkt_carrier_fl_num origin dest  predicted_delay
0 2020-01-24          AA                3648    GEG  DFW         6.377108
1 2020-01-02          AA                4186    FSM  DFW         4.309248
2 2020-01-31          DL                4902    BTV  DTW         2.892473
3 2020-01-09          AA                1800    CLT  BWI        -2.423136
4 2020-01-26          DL                1660    MSP  BDL        -3.246492

In [41]:
submission.to_csv(r'..\..\data\submission.csv', index_label=False)